ol,
ul {
  list-style-type: none;
}

:read-write {
  width: 100%;
}

input[name~="dietary_option"],
input[type="radio"] {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

input[id="dietary_yes"]:checked ~ #dietary_options {
  display: block;
}

input[id="dietary_no"]:checked ~ #dietary_options {
  display: none;
}

input[id="allergies_yes"]:checked ~ #known_food_allergies {
  display: block;
}

input[id="allergies_no"]:checked ~ #known_food_allergies {
  display: none;
}
